@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LabTechnicianView.cshtml";

}

   

<div class="jumbotron">
    <h1 align="center">Welcome</h1>
    <p class="lead"  align="center">Lab Technician</p>
</div>
<div class="container">
    <div class="row">
        @*<div class="col-md-4">
                <h2>Create Report By New Patient </h2>

                <p><a class="btn btn-default" href="/">Report By New Patient &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Create Report By Old Patient</h2>

                <p><a class="btn btn-default" href="http">Report By Old Patient &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Search Report</h2>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Search For Report Created Report &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Pending Reports</h2>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Search For Pending Report &raquo;</a></p>
            </div>*@
      
      
      
    </div>
</div>