

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Report</h2>



<div align="center" class="container">
    <h3> Select Type  Patient  For Which You Wanted to Make An Report</h3>
    <br />
    <a href="/Report/OldPatientForm" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make Report For Old Patient</a>
    <a href="/Report/NewPatientReportForm" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make Report For New Patient </a>

</div>

