

<html>

<head>
    
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        .tab1 {
            border-collapse: collapse;
            text-transform: capitalize;
            border: 0px solid #000;
            border-radius: 5px;
            font-size: 12px;
        }

        input {
            border: none;
            background: transparent;
        }

        select {
            border: none;
            background: transparent;
            -webkit-appearance: none; /* Safari and Chrome */
            appearance: none;
        }

        body {
            padding: 0px;
            margin: 0px;
        }
    </style>    

    </head>

<body>
    @RenderBody()


</body>


</html>
