
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Settings</h2>

<br />
<br />
<br />
<br />
<div align="center">
    <a href="/ConsultingPathologist" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Consulting Pathologist</a>
    <a href="/Patient" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Patients</a>
    <a href="/Doctor" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Doctors</a>
    <a href="/Labtest" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Lab Test</a>
    <a href="/Report" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Report Settings</a>

</div>


